<!DOCTYPE html>
<html>
<head>
<title>个人简历</title>
<meta charset="UTF-8">
<meta name = "author" content = "Eternally">
<meta name = "keywords" content = "Eternally">
<mate name="description" content="Eternally的个人简历"/>
<meta charset="GBK">
</head>
<body>

<div id="menu" style="background-color:#grey;height:1000px; width:1080px;float:left;center">
<table border=5 bordercolor=black cellspacing=0 align=center>
<tr height=120 bgcolor=	#B0C4DE align=center>
<td width=960 colspan=10 align=center><font face=微软雅黑 size=7><b><a href=https://blog.csdn.net/weixin_43951932/article/details/89974442 target="_blank">王玥Demo</b></font></td></tr>

<tr height=60 bgcolor=#B0C4DE align=center>
<td width=120 colspan=2 align=center><font face=微软雅黑 size=6><b>姓名</b></font></td>
<td width=120 colspan=2 align=center><font face=微软雅黑 size=6>王玥</font></td>
<td width=120 colspan=2 align=center><font face=微软雅黑 size=6><b>性别</b></font></td>
<td width=120 colspan=2 align=center><font face=华文行楷 size=6>保密</font></td>
<td width=180  rowspan=4
><font size=5><img  border=0 src=psb.jpg alt="Eternally" width="180" height="240"></td></tr>

<tr height=60 bgcolor=#B0C4DE align=center>
<td width=120 colspan=2 align=center><font face=微软雅黑 size=6><b>出生年月</b></font></td>
<td width=120 colspan=2 align=center><font face=华文行楷 size=6>保密</font></td>
<td width=120 colspan=2 align=center><font face=微软雅黑 size=6><b>民族</b></font></td>
<td width=120 colspan=2 align=center><font face=华文行楷 size=6>保密</font></td>
</tr>

<tr height=60 bgcolor=#B0C4DE align=center>
<td width=120 colspan=2 align=center><font face=微软雅黑 size=6><b>学历</b></font></td>
<td width=120 colspan=2 align=center><font face=华文行楷 size=6>保密</font></td>
<td width=120 colspan=2 align=center><font face=微软雅黑 size=6><b>专业</b></font></td>
<td width=120 colspan=2 align=center><font face=华文行楷 size=6>保密</font></td>
</tr>

<tr height=60 bgcolor=#B0C4DE align=center>
<td width=120 colspan=2 align=center><font face=微软雅黑 size=6><b>籍贯</b></font></td>
<td width=120 colspan=2 align=center><font face=华文行楷 size=6>保密</font></td>
<td width=120 colspan=2 align=center><font face=微软雅黑 size=6><b>联系电话</b></font></td>
<td width=120 colspan=2 align=center><font face=华文行楷 size=6>保密</font></td>
</tr>

<tr height=60 bgcolor=#B0C4DE align=center>
<td width=120  colspan=2 align=center><font face=微软雅黑 size=6><b>毕业学校</b></font></td>
<td width=120 colspan=8 align=center><font face=华文行楷 size=6>保密</font></td>
</tr>

<tr height=60 bgcolor=#B0C4DE align=center>
<td width=120  colspan=2 align=center><font face=微软雅黑 size=6><b>住址</b></font></td>
<td width=120 colspan=8 align=center><font face=华文行楷 size=6>保密</font></td>
</tr>

<tr height=60 bgcolor=#B0C4DE align=center>
<td width=120  colspan=2 align=center><font face=微软雅黑 size=6><b>邮箱</b></font></td>
<td width=120 colspan=8 align=center><font face=华文行楷 size=6><pre>保密.com</pre></font></td>
</tr>

<tr height=150 bgcolor=#B0C4DE align=center>
<td width=120 colspan=2 align=center><font face=微软雅黑  size=6><b>社会实践</b></font></td>
<td width=840  colspan=8><font face=华文行楷 size=6>
<p>  <i>参加过简爱基金的支教活动</i><br>
     <u>参加过马克思主义学院 的宣传活动</u><br>
    <sup>参加过在爱中行走活动。</sup></br>
	 <sub>等等......</sub></p>
</font></td></tr>

<tr height=180 bgcolor=#B0C4DE >
<td width=120 colspan=2><font face=微软雅黑  size=6><b>个人简介</b></font></td>
<td width=840  colspan=8><font face=华文行楷 size=6>
<ol>	
<li>爱音乐保密
<li>爱运动保密
<li>爱生活保密
</ol>
<hr noshade size = 5 align = center width = 100%>
</font></td></tr>
</table>
</div>
</body>
</html>
